body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Claro */
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
}

body.dark-mode {
  background-color: #121212; /* Escuro */
  color: #e0e0e0;
}

header {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 20px;
  background-color: #35424a; /* Claro */
  color: white;
}

body.dark-mode header {
  background-color: #212121; /* Escuro */
}

button.mode-toggle {
  background-color: #000000; /* Botão claro */
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 5px 0 0 5px;
  cursor: pointer;
}

button.mode-toggle:hover {
  background-color: #2a3a3a; /* Hover */
}

body.dark-mode button.mode-toggle {
  background-color: #212121; /* Botão escuro */
}

.content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

article {
  background-color: #ffffff; /* Claro */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #35424a;
}

body.dark-mode article {
  background-color: #1f1f1f; /* Escuro */
  color: white;
  border-left: 5px solid #35424a; /* Mantém borda de destaque */
}

h2 {
  color: #35424a; /* Claro */
  margin-top: 0;
}

body.dark-mode h2 {
  color: #e0e0e0; /* Escuro */
}

p {
  text-align: justify;
  line-height: 1.6;
}
