@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Poppins, sans-serif;
    background-color: #ffefdf;
}

.post-container {
    margin: 20px 150px 20px 150px;
}

.img-loud {
    width: 510px;
    height: 350px;
    margin-left: 30px;
}

.img-optic {
    width: 500px;
    height: 310px;
    margin-left: 30px;
}

.img-drx {
    width: 700px;
    height: 470px;
    margin-left: 30px;
}

p {
    padding: 15px;
    margin: 15px
}

.date {
    padding: 15px;
    color: rgb(84, 84, 255);
}

h1 {
    margin-left: 30px;
}

.nav {
    background-image: url(https://i.pinimg.com/originals/9d/ee/07/9dee0784390c4d041be8473887a304cc.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
}

.title-blog {
    color: white;
    cursor: pointer;
}

footer li {
    display: inline;
    justify-content: space-between;
    list-style: none;
    margin: 20px;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer ul li {
    cursor: pointer;
}

footer ul li:hover{
    transition: 0.2;
    color: #716cff;
}